@font-face {
  font-family: 'GothamPro';
  src: url('GothamPro-Bold.eot');
  src: url('GothamPro-Bold.woff2') format('woff2'),
    url('GothamPro-Bold.woff') format('woff'),
    url('GothamPro-Bold.ttf') format('truetype'),
    url('GothamPro-Bold.eot?#iefix') format('eot');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GothamPro';
  src: url('GothamPro.eot');
  src: url('GothamPro.eot?#iefix') format('embedded-opentype'),
    url('GothamPro.woff') format('woff'),
    url('GothamPro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
