@font-face {
  font-family: 'Firenight';
  src: url('Firenight-Regular.eot');
  src: url('Firenight-Regular.woff2') format('woff2'),
    url('Firenight-Regular.woff') format('woff'),
    url('Firenight-Regular.ttf') format('truetype'),
    url('Firenight-Regular.eot?#iefix') format('eot');
  font-weight: normal;
  font-style: normal;
}
